<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <a href="{% url 'product-delete' product.id %}"><input type="button" value="Delete"></a>
    <a href="{% url 'product-update' product.id %}"><input type="button" value="Update"></a>
    <p>{{ product.description }}</p>    
    <p>Starting Price: {{ product.starting_price }}</p>
    <p>Status: {{ product.get_status_display }}</p>
    <img src="{{ product.image.url }}" alt="Product Image">
    {% if auction_id %}
        <p>Auction ID: {{ auction_id }}</p>
        {% if auction.status == "Live" %}
            <a href="{% url 'product-auction' auction_id %}">View Auction</a>
        {% endif %}
    {% else %}
        <p>No active auction for this product.</p>
    {% endif %}
</body>
</html>
